<div class="container-fluid py-5 bg-dark">
    <div class="row text-white">
        <div class="col-xs-12 col-sm-8 offset-sm-2">
            <div class="d-sm-flex">
                <div class="flex-shrink-0">
                    <img src="/static/img/logo_l.png" alt="" width="200" height="60">
                </div>
                <div class="flex-grow-1 ms-3">
                    Kumoh National Institute of Technology, Korea. <br>
                    (39177) 61 Daehak-ro, Gumi-si, Gyeongbuk <br>
                    Fouth Floor, Industry-University Co-operation Building 
                </div>
                <div>
                    <a href="https://www.youtube.com/channel/UCdO-hI6Jyd_sHUvb2Q1vu8A/featured" target="_blank"><i class="fa-brands fa-youtube fa-3x red-color"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>