<footer class="container-fluid py-5 bg-primary">
    <!-- <div class="row text-white">
        <div class="col-xs-12 col-sm-8 offset-sm-2">
            <div class="d-sm-flex">
                <div class="flex-shrink-0 mt-3">
                    <img src="/static/img/new_logo.png" alt="" width="230" height="65">
                </div>
                <div class="flex-grow-1 ms-3">
                    Kumoh National Institute of Technology, Korea. <br>
                    (39177) 61 Daehak-ro, Gumi-si, Gyeongbuk <br>
                    Fouth Floor, Industry-University Co-operation Building 
                </div>
                <div>
                    <a href="https://www.youtube.com/channel/UCdO-hI6Jyd_sHUvb2Q1vu8A/featured" target="_blank"><i class="fa-brands fa-youtube fa-3x red-color"></i></a>
                </div>
            </div>
        </div>
    </div> -->
    <div class="row text-center">
        <div class="col-sm-4 offset-sm-1 col-md-2 offset-md-2 pt-2">
            <img src="/static/img/new_logo.png" alt="" width="230" height="65">
        </div>
        <div class="col-sm-5 col-md-4">
            <p class="text-sm-start pt-3 pt-sm-1">Kumoh National Institute of Technology, Korea. <br>
                (39177) 61 Daehak-ro, Gumi-si, Gyeongbuk <br>
                Fouth Floor, Industry-University Co-operation Building.</p>
        </div>
        <div class="col-sm-2 col-md-4">
            <a href="https://www.youtube.com/channel/UCdO-hI6Jyd_sHUvb2Q1vu8A/featured" target="_blank"><i class="fa-brands fa-youtube fa-3x text-light"></i></a>
        </div>
    </div>
</footer>