
body{
    margin-top: 86px;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    font-weight: 400;
}

.red-color {
    color: #FE0000;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

.justify {
    text-align: justify;
}
.imp-field{
    color: red
}

.alert {margin-bottom: 0;}

h3.bold {font-weight: 900;}

.btn-outline-primary {
    color: #FE0000;
    border-color: #FE0000;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #FE0000;
    border-color: #FE0000;
    transition: .3s ease-in-out;
}

.btn-outline-primary:focus {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(254, 0, 0,1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(254, 0, 0,1);
}

.btn-primary {
    color: #fff;
    background-color: #FE0000;
    border-color: #AA0000;
}

.btn-primary:hover {
    color: #fff;
    background-color: #AA0000;
    border-color: #AA0000;
}


/* .nav-bar {
    background-color: rgba(76, 175, 80, 0);
} */

header {
    position: relative;
    /* background-color: black; */
    background-image: linear-gradient(to left, #111, #FE0000);
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
  
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
header .container {
    position: relative;
    z-index: 2;
}
  
header .overlay,
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
@media (pointer: coarse) and (hover: none) {
    header {
      background: url('/static/img/02.png') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
}

.header h1 {
    color: #FE0000;
    font-weight: 900;
}

.header p {
    color: #fff;
    font-weight: bold;
}

.call-2-action {
    margin-top: 30px;
    padding: 10px 50px;
    border-radius: 50px;
    font-weight: bold;
    border: 2px solid;
    font-size: 130%;
    letter-spacing: 1;
}


.header-text {
    font-size: 13px;
    letter-spacing: 1px;
    padding: 8px 20px;
    margin: 0 0 15px 0;
    background: #000000;
    color: #FE0000;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
}


/* .contact span, */
#about span,
#services span {
    background-color: rgba(254, 0, 0, .2);
    color: #FE0000;
}

/* .contact span:hover, */
#about span:hover,
#services span:hover {
    background-color: rgba(254, 0, 0, 1);
    color: #fff;
    transition: .5s ease-in-out;
}


.circle-in-icon {
    padding-top: 44px;
    border-radius: 50%;
    padding-bottom: 22px;
    padding-right: 20px;
    padding-left: 20px;
}

.circle-in-icon  + h3 {
    margin-top: 34px;
}

.circle-in-icon ~ p {
    margin-bottom: 40px;
}


.customers img {
    width: 100px;
    border: 6px solid rgba(255, 0, 0, .6);
    /* margin: 0 auto; */
}

.card.zoom {overflow: hidden;}
.card.zoom img {
    transition: transform .5s ease;
}
.card.zoom:hover img {
    transform: scale(1.05);
}

/* .contact span {
    border-radius: 50%;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 0px;
    padding-top: 22px;
} */

/* .contact-div {margin-left: 10px;} */
.contact {
    background-image: -webkit-gradient(linear, left top, right top, from(#008346), to(#972b42));
}

.contactpage-div {
    height: 80vh;
}


.contact-container {
    height: 100%;
    width: 100%;
}

/* .contact-card>form .form-control, 
.contact-card>form .form-control:focus {
    background-color: #fff;
}

.form-control, 
.form-control:focus {
    background-color: #212529;
} */
.contact h3 {
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.2;
    font-size: 40px;
}

/* .contact-card>form input, .contact-card>form select,  .contact-card>formtextarea {
    color: #111 !important;
}


input, select, textarea {
    color: #fff !important;
} */


.bg-image {
    background-image: url('/static/img/meta_trans.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-image {
    background-image: url('/static/img/03.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.parallax {
    background-image: url('/static/img/07.png');
    height: 100%;
    background-attachment: fixed;
    background-position: repeat;
    background-size: cover;
}




.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}




.page-banners {
    background-attachment: fixed;
    background-position: repeat;
    background-size: cover;
    height: 60vh;
}


.event-banners {
    background-attachment: fixed;
    background-position: repeat;
    background-size: cover;
    height: 100vh;
}

.event-header {
    background-image: url('/static/img/meta_trans.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
    line-height: 1.2;
}

.event-header h1 {
    font-weight: bolder;
    text-transform: uppercase;
}

@media(min-width: 1000px) {
    .event-header h1 {
        font-size: 450%;
    }
}

@media(max-width: 382) {
    .event-header h1 {
        font-size: 200%;
    }
}

.event-header > div {
    background-color: rgba(1,1,1,.5);
}

.just_name {
    background-image: -webkit-gradient(linear, left top, right top, from(#1d2e263d), to(#242021));
}

img.speaker {
    border-radius: 50%;
    height: 265px;
    max-width: 250px;
    min-width: 250px;
}

.style-icons i {
    color: green;
}

.style-icons-index i {
    color: #FE0000;
}